<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
<title>L&A- admin</title>    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/adminassets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/adminassets/css/main.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div class="screen-overlay"></div>
    <!-- sidebar -->
    <%- include('partials/sidebar')%>
    <!-- sidebar -->

    <main class="main-wrap">
        <!-- header -->
        <%- include('partials/header')%>
        <!-- header -->
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Add Category</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <form method="post" action="/admin/categories" enctype="multipart/form-data" onsubmit="return validateForm()">
                            <div class="mb-4">
                                <label for="category_name" class="form-label">Name</label>
                                <input type="text" placeholder="Type here" name="name" class="form-control" id="category_name" />
                            </div>
                            <div class="mb-4">
                                <label for="image" class="form-label">Image</label>
                                <input type="file" placeholder="" name="image" accept="image/*" class="form-control" id="image" />
                            </div>
                            <div class="mb-4">
                                <label class="form-label">isListed</label>
                                <select class="form-select" name="isListed">
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Description</label>
                                <input placeholder="Type here" class="form-control" name="description"></input>
                            </div>
                            
                            <div>
                                <% if (typeof message !== 'undefined') { %>
                                <p style="color: rgb(116, 0, 0);"><%= message %><p>
                                <% } %>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Create category</button>
                            </div>
                        </form>
                        
                        
                        <script>
                            function validateForm() {
                                const imageInput = document.getElementById("image");
                                const imageFile = imageInput.files[0];
                                if (!imageFile) {
                                    alert("Please select an image.");
                                    return false; 
                                }
                                const fileType = imageFile.type;
                                if (!fileType.startsWith("image/")) {
                                    alert("Please select an image file.");
                                    return false; 
                                }
                                return true;
                            }
                        </script>                        
                        
                        </div>
                       
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->
       <!-- footer -->
       <%- include('partials/footer')%>
       <!-- footer -->
    </main>
    <script src="/adminassets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/adminassets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/adminassets/js/vendors/select2.min.js"></script>
    <script src="/adminassets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/adminassets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <!-- Main Script -->
    <script src="/adminassets/js/main.js" type="text/javascript"></script>
</body>

</html>