<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="/admin" class="brand-wrap">
            <img src="/adminassets/imgs/laptopLogo.jpg" class="logo" alt="chronocraft">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item">
                <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/categories"> <i class="icon material-icons md-pie_chart"></i>
                    <span class="text">Categories</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/add-product"> <i class="icon material-icons md-add_box"></i>
                    <span class="text">Add product</span>
                </a>
            </li>
            
            <li class="menu-item">
                <a class="menu-link" href="/admin/users"> <i class="icon material-icons md-person"></i>
                    <span class="text">Users</span>
                </a>
            <li class="menu-item">
                <a class="menu-link" href="/admin/banners"> <i class="icon material-icons md-stars"></i>
                    <span class="text">Banners</span>
                </a>
                
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/couponManagementPage"> <i class="icon material-icons md-local_offer"></i>
                    <span class="text">Coupons</span>
                </a>
            </li>
            <!-- <li class="menu-item">
                <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                    <span class="text">Reviews</span>
                </a>
            </li> -->
            <!-- <li class="menu-item">
                <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                    <span class="text">Statistics</span>
                </a>
            </li> -->
        </ul>
        <hr>
        <ul class="menu-aside">
            <li class="menu-item">
                <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                    <span class="text">Settings</span>
                </a>
            </li>
        </ul>
        <br>
        <br>
    </nav>
</aside>